@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.preloader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
         
}
.preloader h1{
    margin-top: 10rem;
    /* padding-left: 4rem; */
    font-family: 'Merriweather', serif;
}
.preloader::before,.preloader::after{
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    transform: translate(-50%,-50%);

}
.preloader::before{
    animation: before 2s infinite;
}
@keyframes before {
    0%{
        width: 0.5rem;
        box-shadow: 1rem -1rem rgba(225,20,98,0.75), -1rem 1rem rgba(111,202,220,0.75);

    }
    35%{
        width: 5.5rem;
        box-shadow: 0 -1rem rgba(225,20,98,0.75), 0 1rem rgba(111,202,220,0.75);
    }
    70%{
        width: 0.5rem;
        box-shadow: -1rem -1rem rgba(225,20,98,0.75), 1rem 1rem rgba(111,202,220,0.75);
    }    
    100%{
         width: 0.5rem;
        box-shadow: 1rem -1rem rgba(225,20,98,0.75), -1rem 1rem rgba(111,202,220,0.75);
        
    }
}
.preloader::after{
    animation: after 2s infinite;
}
@keyframes after {
    0%{
        height: 0.5rem;
        box-shadow: 1rem 1rem rgba(61,184,143,0.75), -1rem -1rem rgba(233,169,32,0.75);
    }
    35%{
        height: 7.5rem;
        box-shadow: 1rem 0rem rgba(61,184,143,0.75), -1rem 0rem rgba(233,169,32,0.75);
    }
    70%{
        height: 0.5rem;
        box-shadow: 1rem -1rem rgba(61,184,143,0.75), -1rem 1rem rgba(233,169,32,0.75);
    
    }
    100%{
        height:0.5rem;
        box-shadow: 1rem 1rem rgba(61,184,143,0.75), -1rem -1rem rgba(233,169,32,0.75);
        
    }

}
