{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/headernav.css'%}">
</head>
<body>
    <div class="header">
        <div class="navbar">
            <div class="navbar-img">
                <!-- <a href="/" class="navbar-a"><img src="../static/image/elegent-_1_.jpg" alt=""></a> -->
                <a href="/" class="navbar-font"> 
                    <h1>KHELUM</h1>
               
                </a>
            
            </div>
            <div class="navlist">
                <a class="nav" href="/shop">Booking</a>
                <a class="nav" href="/story/">Our Story</a>
                <a class="nav" href="/ourway/">About Us</a>
                <a class="nav" href="/contact/">Contact</a>
            </div>
            <div class="menu hide">
                <svg class="menu-svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                    style="enable-background:new 0 0 512 512;" xml:space="preserve">
    
                    <path d="M501.333,96H10.667C4.779,96,0,100.779,0,106.667s4.779,10.667,10.667,10.667h490.667c5.888,0,10.667-4.779,10.667-10.667
                       S507.221,96,501.333,96z" />
    
                    <path d="M501.333,245.333H10.667C4.779,245.333,0,250.112,0,256s4.779,10.667,10.667,10.667h490.667
                       c5.888,0,10.667-4.779,10.667-10.667S507.221,245.333,501.333,245.333z" />
    
                    <path d="M501.333,394.667H10.667C4.779,394.667,0,399.445,0,405.333C0,411.221,4.779,416,10.667,416h490.667
                       c5.888,0,10.667-4.779,10.667-10.667C512,399.445,507.221,394.667,501.333,394.667z" />
    
                </svg>
            </div>
            <!-- <div class="search-box" id="search-box">
                <input type="text" class="searchtext" placeholder="Type to Search..">
                    <svg class="search-button" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="612.01px" height="612.01px" viewBox="0 0 612.01 612.01" style="enable-background:new 0 0 612.01 612.01;"
                        xml:space="preserve">

                                <path d="M606.209,578.714L448.198,423.228C489.576,378.272,515,318.817,515,253.393C514.98,113.439,399.704,0,257.493,0
                                    C115.282,0,0.006,113.439,0.006,253.393s115.276,253.393,257.487,253.393c61.445,0,117.801-21.253,162.068-56.586
                                    l158.624,156.099c7.729,7.614,20.277,7.614,28.006,0C613.938,598.686,613.938,586.328,606.209,578.714z M257.493,467.8
                                    c-120.326,0-217.869-95.993-217.869-214.407S137.167,38.986,257.493,38.986c120.327,0,217.869,95.993,217.869,214.407
                                    S377.82,467.8,257.493,467.8z"/>

                    </svg>
                    <svg class="search-cross" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                      </svg>
            </div> -->
        </div>
    </div>
    <script src="../static/js/nav.js"></script>
    <script src="../static/js/hidenav.js"></script>

</body>
</html>

