<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="new.css">
</head>
<body>
    <div class="team-meet">
        <h2>Our Features</h2>
        <!-- <p>adsasd asdas fdsfgdas fa dasfadas asasd</p> -->
        <div class="team-img flex">
            <div class="team-pic team-pic-left">
                <img src="../image/aaa.jpg" alt="">
                <p>Booking</p>
            </div>
            <div class="team-pic">
                <img src="../image/team.webp" alt="">
                
                <p>Team Tracking</p>
            </div>
            <div class="team-pic">
                <img src="../image/aaa.jpg" alt="">
                
                <p>Near Tournaments</p>
            </div>
            
        </div>
    </div>
</body>
</html>